@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body, html
{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: Lora;
}



h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 900px;
}

h1 {
    font-size: 60px;
    font-family: 'Varela Round', Helvetica, sans-serif;
    font-weight: bold;
    // width: 100%;
}

h2 {
    font-size: 50px;
    font-family: 'Varela Round', Helvetica, sans-serif;
}

p {
    font-size: 40px;
    line-height: 36px;
    margin: 30px auto;
    font-weight: 100;
    max-width: 900px;
    box-sizing: border-box;
    font-family: 'Varela Round', Helvetica, sans-serif;
}

hr {
    max-width: 900px;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

@media (max-width: 920px) {
    p {
        padding: 0 10px;
        width: 100%;
    }

    h1, h2, h3 { 
        padding: 0 10px;
        width: 100%;
    }
  }